In [1]:
import pandas as pd

columns = ["marca", "precio", "disponibilidad"]

cocheA = ["Mercedes", 10000, True]
cocheB = ["BMW", 20000, False]

df = pd.DataFrame([cocheA, cocheB], columns=columns)
df

      marca  precio  disponibilidad
0  Mercedes   10000            True
1       BMW   20000           False

In [2]:
import pandas as pd

columns = ["marca", "precio", "disponibilidad"]

marcas = [
    'Audi',
    'Ferrari',
    'Toyota',
    'BMW'
]

precio = [
    100000,
    200000,
    300000,
    400000
]

disponibilidad = [
    True,
    False,
    True,
    True
]

df = pd.DataFrame(
    list(zip(marcas, precio, disponibilidad)),
    columns=columns
)

df

     marca  precio  disponibilidad
0     Audi  100000            True
1  Ferrari  200000           False
2   Toyota  300000            True
3      BMW  400000            True

In [4]:
import pandas as pd

columns = ["marca", "precio", "disponibilidad"]

marcas = [
    'Audi',
    'Ferrari',
    'Toyota',
    'BMW'
]

precio = [
    100000,
    200000,
    300000,
    400000
]

disponibilidad = [
    True,
    False,
    True,
    True
]


diccionario = {
    "marca": marcas,
    "precio": precio,
    "disponibilidad": disponibilidad
}

df = pd.DataFrame(diccionario)
df

     marca  precio  disponibilidad
0     Audi  100000            True
1  Ferrari  200000           False
2   Toyota  300000            True
3      BMW  400000            True

In [7]:
import pandas as pd

df = pd.read_csv('datos.csv', delimiter=',') 

df

     marca   precio  disponibilidad
0     Audi   100000            True
1  Ferrari    20000           False
2   Toyota    20000            True

In [17]:
import pandas as pd

dfs = pd.read_html('datos.html')

dfs

ImportError: lxml not found, please install it